<button class="btn btn-primary" (click)="calPoints()">Get Points</button>

<table *ngIf="calculatedTransactions.length > 0" class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Customer Name</th>
      <th scope="col">Jan</th>
      <th scope="col">Feb</th>
      <th scope="col">Mar</th>
      <th scope="col">Total Points</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let calculatedTransaction of calculatedTransactions">
      <th scope="row">{{ calculatedTransaction.id }}</th>
      <td>{{ calculatedTransaction.customerName }}</td>
      <td>{{ calculatedTransaction.Jan }}</td>
      <td>{{ calculatedTransaction.Feb }}</td>
      <td>{{ calculatedTransaction.Mar }}</td>
      <td>{{ calculatedTransaction.total }}</td>
    </tr>
  </tbody>
</table>
